<section class="card signup-page">
    <section class="card-header">
        <h2>Let's get you set up!</h2>
    </section>
    <section class="form signup-form">
        <input class="input-field" id="usernameSignup" type="text" placeholder="Username">
        <input class="input-field" id="passwordSignup" type="text" placeholder="Password">
        <button class="button signUpBtn">Sign Up</button>
    </section>
</section>

<script src="/js/signup.js"></script>